* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

/** ----------Task 1-------------- **/

#categories {
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  border-radius: 8px;
  padding: 24px;
  width: 440px;
  height: 888px;
  background: #fff;
}

#categories > li.item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  height: 264px;
  background: #f6f6fe;
}

#categories > li.item:nth-child(2) {
  height: 216px;
}

#categories > li.item:last-child {
  height: 312px;
}

#categories > li.item > h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin: 0;
}

#categories > li.item > ul {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  width: 360px;
  height: 184px;
  list-style: none;
  padding: 0;
}

#categories > li.item > ul > li {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
}

/** ----------Task 2-------------- **/

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: flex-start;
  padding: 16px;
  list-style: none;
  margin: 0;
}

.gallery__item {
  flex: 1 1 500px;
  max-width: 600px;
  box-sizing: border-box;
}

.gallery__item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* -----------Task 3-------------- */

#name-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
}

h1,
#name-output {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/* -----------Task 4-------------- */

.login-form {
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 256px;
  background: #fff;
}

.login-form > label {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  width: 360px;
  height: 72px;
  margin: 0;
}

.login-form > label > input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin-bottom: 8px;
}

.login-form > button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  border-radius: 8px;
  padding-block: 8px;
  padding-inline: 16px;
  width: 86px;
  height: 40px;
  background-color: #4e75ff;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  border: none;
  cursor: pointer;
  margin-top: 8px;
}

.login-form > button:hover {
  background-color: #6c8cff;
}

/* -----------Task 5-------------- */

.widget {
  font-family: "Montserrat", sans-serif;

  gap: 16px;
  background-color: #fff;
  border-radius: 8px;
  padding-block: 100px;
  padding-inline: 88px;
  width: 345px;
  height: 280px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.widget > p {
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin: 0;

  text-align: center;
}

.widget > button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  padding-block: 8px;
  padding-inline: 16px;
  width: 148px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 0;
}

.widget > button:hover {
  background-color: #6c8cff;
}